/* src/App.css */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Скрыть скролл */
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(red, blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-animation {
  position: fixed; /* Фон всегда на месте */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Фон не кликабельный */
}

.symbol {
  position: absolute;
  color: #888; /* Серый цвет крестиков и ноликов */
  animation: floatAndRotate 10s linear infinite;
  opacity: 0.7; /* Полупрозрачные */
}

@keyframes floatAndRotate {
  0% {
    transform: translateY(100vh) rotate(0deg); /* Начинаем снизу */
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) rotate(360deg); /* Поднимаемся вверх с вращением */
    opacity: 0;
  }
}